.row-flex {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

.price-table {
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    min-height: 585px;
    position: relative;   
}
.price-table:hover{
    box-shadow: 5px 5px 8px #ccc;
    cursor: pointer;
}
.chooseSection{
    position: relative;
}
.chooseSection::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(#f3f8ff, #ffffff);
    z-index: -1;
}
.choose_head {
    padding: 20px;
    position: relative;
    z-index: 1;
    min-height: 200px;
}
.choose_head::after{
    content: '';
    width: 100%;
    height: 100%;
    background: url('../../../assets/images/choosebg.png');
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
.choose_head .icn i{
    font-size: 50px;
    color: #ff0000;
}
.choose_head  .txt{
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-top: 15px;
}
.choose_head .icn.other i{
    font-size: 50px;
    color: #6ec1e4;
}
.choose_head .icn.other .img{
    width: 60px;
}
.choose_list {
    position: absolute;
    z-index: 1111;
    transform: translate(0, -60px);
    -webkit-transform: translate(0, -60px);
    -moz-transform: translate(0, -60px);
    -o-transform: translate(0, -60px);
    padding: 0 10px;
    width: 100%;
    left: 0;
}
.choose_list2{
    background: #f8f6f4;
    padding: 25px 45px;
}
.choose_list2 > ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.choose_list2 > ul > li {
    display: block;
    padding: 3px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #555;
}
.choose_list2 .info{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}
.choose_list2 .prc{
    font-weight: 700;
    letter-spacing: 3px;
    color: #000;
    margin-top: 15px;
}
.choose_list2  ul li .icn{
    display: inline;
    margin-right: 10px;
    color: #ff0000;
}
.choose_list2  ul li .icn.check{
    color: #00bb00;
}
.choose_list.ticket_box li{
    display: flex;
}
.price-table.sliverPass .choose_head, .price-table.goldpass .choose_head, .price-table.diamaondPass .choose_head {
    min-height: 139px;
}
.price-table.sliverPass, .price-table.goldpass, .price-table.diamaondPass{
    min-height: 940px;
}
.ticket-btn {
    display: block;
    background: #2ba703;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    border: 1px solid #2ba703;
}
.ticket-btn:hover{
    background: #fff;
    color: #2ba703;
    text-decoration: line-through;
}
.price-table.goldpass .choose_list2{
    background: rgb(255 240 160);
}
.price-table.diamaondPass .choose_list2{
    background: #b9f2ff ;
}
.eventGallery{
    width: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
  }
  .eventGallery::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0000006b;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .eventGallery:hover::after{
    opacity: 1;
    cursor: pointer;
  }
  .eventform{
    background: url('../../../assets/images/bgeventform.png');
    padding: 70px 0;
    position: relative;
    z-index: 1;
}
.eventform::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 70%);
    position: absolute;
    z-index: -1;
}

@media only screen and (max-width:991px){
    .price-table.sliverPass .choose_list.ticket_box .choose_list2, .price-table.goldpass .choose_list.ticket_box .choose_list2, .price-table.diamaondPass .choose_list.ticket_box .choose_list2{padding: 10px;}
}
@media only screen and (max-width:767px){
    .price-table.sliverPass, .price-table.goldpass{min-height: 725px;}
    .price-table.diamaondPass{min-height: 890px;}
}
