@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');
.reviewBannertxt .headBn{
    color: #000;
    font-size: 50px;
    font-weight: 700;
}
.reviewBannertxt .headBn .orangeclr{
    display: block;
    font-size: 80px;
    letter-spacing: 1.5px;
}
.reviewBannertxt .title-bn{
    font-size: 22px;
    color: #777;
    padding: 25px 0;
}
.reviewBannertxt .banner_icn img{
    width: 320px;
}
@media only screen and (max-width:991px){
    .reviewBannertxt .headBn {font-size: 45px;}
    .reviewBannertxt .headBn .orangeclr {font-size: 65px;}
    .reviewBannertxt .banner_icn img {width: 250px;}
    .reviewBannertxt .title-bn {font-size: 20px;padding: 15px 0;}
    /*  */
}
@media only screen and (max-width:767px){
    .videoPlay{
        width: 100%!important;
        height: 100%!important;
    }
}