.bordertxt{
    border: 1px solid #333;
    padding: 6px 15px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
}
.starcntnt i{
    color: #fdc807;
}
.syllabuseCard {
    min-height: 475px;
}

@media only screen and (max-width:991px){
    .btn-group2 .whitebtn {margin-left: 0px;margin-top: 7px;}
    .choose_card {min-height: 395px;}
}
@media only screen and (max-width:767px){
    .btn-group2 .whitebtn {margin-left: 10px;margin-top: 0px;}
    .arrow_img {display: none;}
    .choose_card {min-height: 240px;}
}
@media only screen and (max-width:576px){
    .banner_cnnt .btn-group2{
        display: flex;
        flex-direction: column;
    }
    .banner_cnnt .btn-group2 .whitebtn{
        margin-left: 0;
        margin-top: 5px;
    }
}